<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Specific Meta
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Award is a modern presentation HTML5 template.">
	<meta name="keywords" content="HTML5, Template, Design, Development, Blog" />
	<meta name="author" content="Award">

	<!-- Titles
	================================================== -->
	<title>{% block title %}Digital Award{% endblock %} </title>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="assets/img/title-icon/apple-touch-icon.png"> 
	<link rel="apple-touch-icon" href="assets/img/title-icon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/title-icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/title-icon/apple-touch-icon-114x114.png">

	<!-- Custom Font
    ================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700," rel="stylesheet"> 
	<!-- CSS
    ================================================== -->
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/fontello.css">
	<link rel="stylesheet" href="assets/css/main.css">

</head>
<body>
<div class="container-2xl">
	{% block header %}
		{% include 'partials/header.html' %}
	{% endblock %}

	{% block container %} 
		{% include 'partials/main-container.html' %}
	{% endblock %}

	{% block footer %}
		{% include 'partials/footer.html' %}
	{% endblock %}	

</div><!-- ./container-2xl -->

<!-- All The JS Files
================================================== --> 
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/main.js"></script>
	
</body>
</html>


