::-moz-selection {
  display: inline-block;
  text-shadow: none;
  color: $color_white;
  background: $color_heading; 
}
::selection {
  display: inline-block;
  text-shadow: none;
  color: $color_white; 
  background: $color_heading; 
}
