/*-------------------------------------------------------------- 
# Typography 
--------------------------------------------------------------*/
 html {
     font-size: 100%;
}
 body {
	font-family: 'Poppins', serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.45em;
	color: $color_text_main;
	background: #E5E5E5;
	word-wrap: break-word;
	overflow-x: hidden;
}
/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
# Copy
--------------------------------------------------------------*/
@import "copy";