@media (min-width: 992px) {
    nav > ul.exdda-menu > li {
        float: left;
        margin-right: 15px;
        position: relative;
        padding: 15px 10px;
    }
    nav > ul.exdda-menu > li:last-child {
        margin-right: 0px;
    }
    nav ul.exdda-menu > li > a {
        padding: 15px 10px;
        cursor: pointer;
        color: $color_white;
        text-transform: capitalize;
        i {
            font-size: 14px;
            margin-left: 10px;
            position: relative;
            top: -2px;
            color: $color_orange;
        }
    }
    /* Sub Menu CSS */
    .exdda-menu .exdda-sub-menu {
        position: absolute;
        z-index: 99;
        margin: 0;
        padding: 0;
        background-color: $color_white;
        opacity: 0;
        top: 100%;
        min-width: 220px;
        transition: transform 0.3s,opacity 0.3s;
        visibility: hidden;
        li {
            position: relative;
            a {
                text-align: left;
                display: block;
                line-height: 1.5em;
                padding: 15px;
                text-transform: none;
                font-size: 15px;
                border-bottom: 1px solid #dcdcdc;
                letter-spacing: 0.3px;
                color: $color_text_main;
                font-weight: 600;
                i {
                    right: 15px;
                    position: absolute;
                    font-size: 13px;
                    transform: rotate(-90deg);
                    color: $color_orange;
                }
            }
            &:last-child a {
                border-bottom: none;
            }
        }
    }
    .exdda-menu ul li ul {
        position: absolute;
        left: 100%;
        top: 0 !important;
    }
    .exdda-menu .exdda-sub-menu li:last-child > a {
        border-bottom: 0;
    }
    /*Animation*/
    .exdda-menu li:hover .exdda-menu li a{
        color: $color_orange;
    }  
    .exdda-menu .exdda-sub-menu li:hover {
        background-color: $color_orange;
    }

    .exdda-menu li:hover {
        > .exdda-sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}


@media (max-width: 1024px) {
    nav ul.exdda-menu > li {
        margin-right: 6px;
    }
    nav ul.exdda-menu > li > a {
        padding: 12px 8px;
        font-size: 15px;
    }
}
 @media (max-width: 992px) {
    .exdda-menu-content {
        height: 100%;
        position: fixed;
        left: -85%;
        top: 0;
        transition: 0.5s;
        bottom: 0;
        background-color: $color_white;
        z-index: 5;
    }
    .exdda-menu {
        width: 230px;
        li {
            border-bottom: 1px solid #ccc;
            position: relative;
            margin-right: 0 !important;
            &:last-child {
                border-bottom: none;
            }
            a {
                font-size: 16px !important;
                padding: 10px 15px !important;
                display: block;
                text-transform: capitalize;
                i {
                    position: absolute;
                    right: 10px;
                    font-size: 14px;
                }
            }
        }
    }
    .exdda-menu li ul {
        display: none;
        padding: 0;
        margin: 0;
        transition: 0.5s;
        li a {
            padding: 10px 30px !important;
            font-size: 14px !important;
        }
        li ul li a {
             padding: 10px 45px !important;
        }
    }
   
    .exdda-close-btn {
        position: absolute;
        left: 220px;
        font-size: 30px;
        color: $color_white;
        cursor: pointer;
        padding: 8px 15px;
    }
    .exdda-menu-bar i {
        color: $color_white;
        font-size: 25px;
        padding: 15px;
        cursor: pointer;
        margin-left: -15px;
    }
    .menu-show {
        left: 0%;
    }
}
 