/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    &:focus {
        outline: none;
    }
}

select {
     background: none;
}
// Placeholder Color

::placeholder {
   color: $color_text_main; 
} 

::-webkit-input-placeholder {
   color: $color_text_main; 
} 

:-moz-placeholder {
   color: $color_text_main; 
}

:-ms-input-placeholder {
   color: $color_text_main; 
}



