// Initial color
$color_white: #fff;			   // White
$color_orange: #FEB41C;		   // Orange
$color_memorized: #9196A4;	
//Text color
$color_text_main: #17191F; 		// Body text main color
$color_heading: #17191F;        // Heading color

//border color
$border_color_one: #D1D5E0; 		// Border color gray
$border_color_yellow: #FEB41C; 		// Border yellow
$border_color_green: #6BC762; 		// Border green 
$border_color_sky: #1ED0E9; 		// Border sky
$border_color_red: #FE451C; 		// Border red

//Theme bg color
$bg_light_gray: #272A33;  		// Theme menu color
$bg_color_gray: #21b360;  		// Theme gray color     
$bg_white_solid: #F5F6FA;		// Theme white solid color        
$bg_black: #17191F;		        // Theme block color        
//Placeholder color
$color_memorized: #9196A4;			// More link color
