// Initial color
$color_white: #fff;			   // White
$color_orange: #FEB41C;		   // Orange

//Text color
$color_text_main: #17191F; 		// Body text main color
$color_heading: #17191F;        // Heading color

//border color
$border_color_one: #D1D5E0; 		// Border color gray
$border_color_yellow: #FEB41C; 		// Border yellow



