
/*-------------------------------------------------------------- 
# Color 
--------------------------------------------------------------*/
 .exdda-text-orange {
     color: $color_orange;
}

/*-------------------------------------------------------------- 
# Background Color 
--------------------------------------------------------------*/
.exdda-bg-orange {
    background-color: $color_orange;
}

/*-------------------------------------------------------------- 
# border-Color 
--------------------------------------------------------------*/
.exdda-border-color-one{
    border-color: $border_color_one;
}


