<div class="exdda-footer-content py-12 lg:py-28">
	<div class="container">
		<div class="grid grid-cols-3 gap-4">
		  	<div class="col-span-2">
		  		<p class="text-white leading-tight tracking-normal text-base lg:text-xl">Below you can see the projects you need to vote on. You must give points from 0-10 within each criterion.You can filter in your jury group's assigned categories in the menu below</p>
		  	</div>
		  	<div class="">
			  	<a href="#" class="float-right">
	       	  	 	<img class="w-20 md:w-24" src="assets/img/site-logo.png" alt="">
	       	  	 </a>
		  	</div>
		</div>
	</div><!-- ./container -->
</div><!-- ./footer-content -->